body {
	display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;

}
div {
	width: 50%;
		background-color: black;
		 padding: 60px;
		 border: 3px solid #000000;
		 min-height: 250px;
		 color: blue;
}